---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "My Home Page";
const titleColor = "green";
---
<BaseLayout pageTitle={pageTitle} {titleColor}>
<h2>My blog subtitle</h2>
<h2>Which will be inserted at the slot tag</h2>
</BaseLayout>
