---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---
<p>welcome (a sticky header would go here)</p>
<header>
<nav>
    <Hamburger />
    <Navigation />
</nav>
</header>
